<HTML>
  <BODY>
    <head>
      <center><h1>Welcome to Beauty Parlour List</h1></center>
      </head>
<table align="center" border=1px>
    <thead>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>sex</th>
      <th>location</th>
      <th>contact</th>
      <th>email</th>
    </tr>
    </thead>
    <tbody>
        {% for row in output_data %}
            <tr>
                <td>{{row[1]}}</td>
		<td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
		<td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
		<td>{{row[6]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br/><br/><br/><br/><br/><br/>
 <center><a href="/add-beauty-parlour" align="center"> Click here to add data </a></center>
</BODY>
</HTML>
